<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG9PaQLPJbZ2c6Q7pT9wT7Sjpa0W5YGdA</string>
	<key>GCM_SENDER_ID</key>
	<string>948478793080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cktMis</string>
	<key>PROJECT_ID</key>
	<string>ckt-mis</string>
	<key>STORAGE_BUCKET</key>
	<string>ckt-mis.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948478793080:ios:ea23de32c2b288b68a248d</string>
</dict>
</plist>